<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dgswy.hispad" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HisPad</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="dgtpyy@163.com" href="http://dgswy.com">dgswy</author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
</widget>
