<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dgswy.hispad" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HisPad</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="dgtpyy@163.com" href="http://dgswy.com">dgswy</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*"/>
    <allow-intent href="*"/>
    <plugin name="cordova-plugin-device" spec="~2.0.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
    <plugin name="cordova-plugin-dialogs" spec="~2.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <plugin name="cordova-plugin-x-toast" source="npm" />
    <preference name="Fullscreen" value="true" />
    <preference name="InAppBrowserStorageEnabled" value="true"/>
</widget>
